<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Login Page</h2>
    <!-- {{todos}}
    {{name}}
    {{student_id}} -->

    <!-- {% for d in todos %}
{{d.title}},
{{d.description}},
{{d.user_name}}
{%endfor%} -->
{{call}}
{{call.user_name}}
{{call.location}}
{{call.contact}}
{{contact}}
{{user_name}}


{% for todo in todos %}<br>
{{todo.title}}<br>
{{todo.date_time}}
{{todo.description}}
{% endfor %}

</body>
</html>